.field button {
  width: 150px;
  height: 150px;
  margin: 10px;
  max-width: 25%;
  border-radius: 5px;
  background-color: cadetblue;
  font-size: 75px;
}

@media(max-width: 700px) {
  .field button {
    height: 80px;
    width: 80px;
    font-size: 40px;
  }
}

